* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.input-wrapper input {
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
}

.input-wrapper {
    margin-bottom: 10px;
}

.error {
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

.form-action span {
    font-size: 25px;
}

.cursor{
    cursor: pointer;
}
#redierctInfo
{
    border: none; 
    position: absolute; 
    top: 15px;
    right: 15px;
    font-size: 20px;
    width: fit-content;
    height: 50px;
    line-height : 30px;
    border-radius: 5px;
}
.container
{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    margin-left: 200px;
    
}
.item1
{
    text-align: center;
    width: 50%;

}
.item2
{
    text-align: left;
    width: 50%;
    height: 600px;

}

#content {
    width: 100%;
    padding: 20px 50px;
    min-height: 100vh;
    transition: all 0.3s;
}

#adddiv{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
}



